{% load extra_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App2</title>
    {% hmr_script "src/main.js" %}
    {% is_debug as stored_debug_value %}
    {% if not stored_debug_value %}
      <script type="module" crossorigin src="/static/assets/index.js"></script>
      <link rel="stylesheet" href="/static/assets/index.css">
    {% endif %}
  </head>
  <body>
    <div id="app"></div>

  </body>
</html>